@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

body.dark {
    background-color: #121212;
}

*::selection {
    background-color: #4CD264;
    color: black;
}

*::-moz-selection {
    background-color: #4CD264;
    color: black;
}

*::-o-selection {
    background-color: #4CD264;
    color: black;
}

*::-ms-selection {
    background-color: #4CD264;
    color: black;
}

*::-webkit-selection {
    background-color: #4CD264;
    color: black;
}